//FONTS-----------------------------
@font-face {
   font-family: "DINPro";
   src: url("../fonts/DINPro.ttf") format("ttf");
   font-weight: 400;
}
@font-face {
   font-family: "DINPro";
   src: url("../fonts/DINPro-Medium.ttf") format("ttf");
   font-weight: 500;
}
@font-face {
   font-family: "DINPro";
   src: url("../fonts/DINPro-Bold.ttf") format("ttf");
   font-weight: 700;
}
@font-face {
   font-family: "MyriadPro-Regular";
   src: url("../fonts/MyriadPro-Regular.ttf") format("ttf");
   font-weight: 400;
}
